// diminion parameter configuration
params{
	dev = false
	output_dir = 'results'
	input_dir = 'assets/test/dev'
	subtract_dir = 'assets/test/dev/subtract'
	target_dir = 'assets/test/dev/targets'	

	// cutadapt params
	ca_adapt5p = '^CGATC'
	ca_adapt3p = 'gacgt$'
	ca_trim_n = true
	ca_max_n = 5
	ca_min_len = 15

	// bowtie params
	bwt_all = true
	bwt_mismatch = 0

	//usearch params
	trunclen = 27

	//cycle plot params
	cyc_prop = false
}
