// diminion parameter configuration
params{
	dev = false
	output_dir = 'results'
	input_dir = 'assets/test/dev/inputs'
	rDNA_fasta = 'assets/test/dev/removal/Ehis_rDNA.fa'
	tRNA_fasta = 'assets/test/dev/removal/Ehis_tRNA.fa'
	repeats_fasta = 'assets/test/dev/removal/Ehis_repeats.fa'

	genome_fasta = 'assets/test/dev/targets/Ehis_genome.fa'
	transcripts_fasta = 'assets/test/dev/targets/Ehis_annot_transcripts.fa'

	// cutadapt params
	ca_adapt5p = '^CGATC'
	ca_adapt3p = 'gacgt$'
	ca_trim_n = true
	ca_max_n = 5
	ca_min_len = 15

	// bowtie params
	bwt_all = true
	bwt_mismatch = 0

	//usearch params
	trunclen = 27

	//cycle plot params
	cyc_prop = false
}
